/* ======= */
/* For All */
/* ======= */

:root {
  --gradiente: linear-gradient(45deg, #14aa97, #4012ac);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  overflow-y: overlay;
}

body {
  font-size: 20px;
}

/* ======= */
/* Nav Bar */
/* ======= */

.navbar {
  z-index: 2000;
  max-height: fit-content;
  padding: 10px 0;
}

.navbar .nav-link {
  color: #fff !important;
}

#nav-options a {
  margin: 0 5px;
  transition: 0.5s ease;
  border-bottom: 2px solid transparent;
}

#nav-options a:hover {
  border-bottom: 2px solid;
}

.navbar ul {
  padding: 0 20px;
}

.navbar .container-fluid ul {
  padding: 0;
  margin: 0;
}

/* .navbar .container-fluid ul a {
  margin: 0 5px;
} */

@media (max-width: 991px) {
  .navbar {
    align-items: baseline;
  }

  #nav-options {
    margin-top: 20px;
  }
}

.navbar .container-fluid a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.nav-active {
  background: var(--gradiente);
  transition: 0.5s ease;
}

.fixed-top {
  top: -40px;
  transform: translateY(40px);
  transition: transform 0.5s ease-in-out;
}

.navbar .container-fluid button {
  padding: 0;
  margin-right: 15px;
}

/* =============== */
/* Intro Container */
/* =============== */

#intro video {
  min-width: 100%;
  min-height: 100%;
}

#intro .mask {
  background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.7),
    rgba(91, 14, 214, 0.7)
  );
}

/* Height for devices larger than 576px */

#intro {
  margin-top: -66.8px;
}

#intro .btn {
  transition: 0.5s ease-in-out;
}

#intro .btn span {
  font-weight: bolder;
  font-size: large;
}

#intro .btn:hover {
  background-color: #fff;
}

#intro .btn:hover span {
  background: var(--gradiente);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ==== */
/* Mask */
/* ==== */

.mask {
  background-color: rgba(251, 251, 251, 0.15);
}

/* ====== */
/* Footer */
/* ====== */

footer > div.text-center.p-3 {
  background: var(--gradiente);
}

/* ========== */
/* Scroll Bar */
/* ========== */

body::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--gradiente);
  transition-duration: 0.5s;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.95),
    rgba(91, 14, 214, 0.95)
  );
}

/* ========= */
/* Copyright */
/* ========= */

#copyright {
  font-size: 16px;
}

/* ======== */
/* About Us */
/* ======== */

main {
  padding-top: 3rem;
}

#about-us .row h1 {
  margin-bottom: 20px;
  background: var(--gradiente);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about-us .row .bg-image {
  overflow: visible;
}

#about-us .row img {
  padding: 20px;
  filter: drop-shadow(5px 5px 5px #666666);
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  transition: 0.2s ease-in-out;
}

#about-us .row img:hover {
  transform: scale(1.05);
}

/* #about-us .row img:hover {
  filter: drop-shadow(5px 5px 5px #666666);
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  transform: translateY(-10px);
} */
